main.questionsPage {
  position: relative;
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 10px;

  .questionsMenu {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 15px 0;
    gap: 10px;
    display: flex;
    justify-content: flex-end;
  }

  h1 {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  ul.allQuestions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;

    li.question {
      flex-basis: 100%;
      //border: 1px solid black;
      padding: 6px 10px;
      cursor: default;
      display: flex;
      justify-content: space-between;
    }
  }
}

.invitationPopUpWrap,
.questionFormWrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);

  .search {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px;
  }

  .invitationPopUp,
  form.questionForm {
    ul {
      list-style: none;
      flex-basis: 100%;
      li {
        display: flex;
        align-items: center;
        padding: 2px 5px;
        gap: 5px;
        .resultCompany {
          color: lightgray;
        }

        span:first-child {
          margin-right: auto;
        }
      }
    }
    /* 
    max-width: 300px;
    margin: 200px auto 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    background-color: #777;

    .input {
      flex-basis: 100%;
    }

    .button {
      flex-basis: calc(50% - 5px);
    } */
    max-width: 300px;
    margin: 200px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px;

    input {
      flex-basis: 100%;
    }
  }
}
