form.profileForm {
  width: 200px;
  margin: 40px auto 0;
  padding: 10px;

  div {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    label {
      margin-bottom: 2px;
    }

    button {
      align-self: center;
    }
  }
}
