main.questionsPage {
  position: relative;
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 10px;

  .questionsMenu {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 15px 0;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  h1 {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  ul.allQuestions {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    li.question {
      display: flex;
      justify-content: space-between;
      flex-basis: 100%;
      cursor: default;
      padding: 6px 10px;
    }
  }
}

.invitationPopUpWrap,
.questionFormWrap {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);

  .search {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px;
  }

  .invitationPopUp,
  form.questionForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 300px;
    gap: 10px;
    padding: 10px;
    margin: 200px auto 0;

    ul {
      list-style: none;
      flex-basis: 100%;

      li {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 2px 5px;

        .resultCompany {
          color: lightgray;
        }

        span:first-child {
          margin-right: auto;
        }
      }
    }

    input {
      flex-basis: 100%;
    }
  }
}
