form.loginForm {
  display: grid;
  grid-template-areas:
    "email"
    "pw"
    "submit";
  width: 250px;
  gap: 25px;
  padding: 25px;
  margin: 200px auto;

  .email {
    grid-area: email;
  }

  .password {
    grid-area: pw;
  }

  .submit {
    grid-area: submit;

    button {
      display: block;
      margin: auto;
    }
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
  }
}
