.mmb {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background-color: #5f5f58;
  width: 1200px;
  height: 360px;

  position: relative;
  box-sizing: content-box;
  border: 1px solid black;
}

.MMBColumn {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  border-right: 1px dashed white;
}

.mmbTile {
  border: 1px dashed teal;
  padding: 4px;
}

.MMCard {
  position: absolute;
  width: 120px;
  height: 120px;
  cursor: grab;
}
.MMCard.nice {
  transition: top 250ms ease, left 250ms ease;
}
