.mmb {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background-image: repeating-linear-gradient(
    green -300%,
    white 40%,
    white 60%,
    red 400%
  );
  width: 1200px;
  height: 360px;

  position: relative;
  box-sizing: content-box;
  border: 1px solid black;
}

.MMCard {
  position: absolute;
  width: 120px;
  height: 120px;
  cursor: grab;
}
.MMCard.nice {
  transition: top 250ms ease, left 250ms ease, width 250ms ease,
    height 250ms ease;
}
.MMCard img {
  width: 100%;
  object-fit: cover;
}
.MMCard .zoom {
  position: absolute;
  top: 0;
  left: 0;
  width: 16%;
  height: 16%;
  cursor: pointer;
}
