button {
  font-size: 1.2rem;
}

// Reset default button styles
button.btn {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }
}
$btnColor: #3e68ff;

button.btn {
  // Display
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: start; // Optional - see "Gotchas"

  // Visual
  background-color: $btnColor;
  color: #fff;
  border-radius: 6px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);

  // Size
  padding: 0.25em 0.75em;
  // min-width: 10ch;
  // min-height: 44px;

  // Text
  text-align: center;
  line-height: 1.1;

  transition: 220ms all ease-in-out;

  &:hover,
  &:active {
    background-color: scale-color($btnColor, $lightness: -20%);
  }

  &:focus {
    outline-style: none;
    // outline-style: solid;
    // outline-color: transparent;
    // box-shadow: 0 0 0 4px scale-color($btnColor, $lightness: -40%);
  }

  &.btnDelete {
    background-color: #d9534f;
    &:hover,
    &:active {
      background-color: scale-color(#d9534f, $lightness: -20%);
    }
  }
  &.btnConfirm {
    background-color: #5cb85c;
    &:hover,
    &:active {
      background-color: scale-color(#5cb85c, $lightness: -20%);
    }
  }
  &.btnSecondary {
    background-color: white;
    border: 1px solid #adadad;
    color: black;
    &:hover,
    &:active {
      background-color: scale-color(white, $lightness: -20%);
    }
  }
}

.paper {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px -2px rgba(0, 0, 0, 0.2),
    0px 1px 4px 0px rgba(0, 0, 0, 0.14), 0px 0px 3px 0px rgba(0, 0, 0, 0.12);

  &:hover {
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
      0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  }

  &.notify {
    border: 2px solid #f0ad4e;
  }
}
