main.groupsPage {
  position: relative;
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 10px;

  .questionGroupMenu {
    padding: 10px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;

    li {
      flex-basis: 100%;
      border: 1px solid black;
      padding: 6px 10px;
    }
  }
}

.groupFormWrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);

  form.groupForm {
    max-width: 300px;
    margin: 200px auto 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    background-color: #777;

    input {
      flex-basis: 100%;
    }

    button {
      flex-basis: calc(50% - 5px);
    }
  }
}
