.formField {
  label {
    display: block;
  }
}

form.registrationForm {
  width: 250px;
  padding: 10px;
  margin: 40px auto 0;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;

    button {
      align-self: center;
    }
  }
}
